<form action="<%= search_trees_path %>" method="get" class="w-full max-w-md mx-auto my-8 grid gap-4">
  <div class="flex items-center justify-center mb-4">
    <label class="mr-4">
      <input type="radio" name="search_by" value="name" class="mr-2 text-blue-400">
      Search by Name
    </label>
    <label>
      <input type="radio" name="search_by" value="neighborhood" class="mr-2 text-blue-400">
      Search by Neighbourhood
    </label>
  </div>

  <input type="text" name="query" placeholder="Try searching for Assiniboine, Tuxedo or Wolseley." class="w-full p-2 text-gray-900 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
  
  <div class="flex justify-center space-x-4">
    <input type="submit" value="Search" class="p-2 bg-blue-500 rounded hover:bg-blue-600 text-white cursor-pointer">
    <input type="reset" value="Clear" class="p-2 bg-gray-700 rounded hover:bg-gray-600 text-white cursor-pointer">
  </div>
</form>
